<div class="child">
  <div class="name">
    <h3> Families </h3>
  </div>
  <div class="inner-content">
    <% families_near_me.each do |family| %>
      <% unless family.id == my_family %>
      <%= link_to family.family_title, family_path(family.id)%></br>
      <%end%>
    <%end%>
  </div>
</div>
  

