<div class="content">

<h3 class="title"> Families requesting to connect with you </h3>
<br>
<% @requests.each do |request| %>
  <%= link_to request.family.family_title, family_path(request.famconnect_id) %></br>
    <%= form_for request do |f| %>
      <%= f.button "Accept", name: "button_action", value: "accept" %>
      <%= f.button "Decline", name: "button_action", value: "decline" %>
    <%end%>
<%end%>
</div>