/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require flatpickr
 */

@import "bootstrap";

body {
  background-color: #f2fcf8;
}
.content {
	background-color: white;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  float: none; 
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  margin-bottom: 1%;
  margin-top: 25px;
  margin-left: 300px !important;
  height: 500px;
  max-height: 500px;
  width:900px; /* or whatever width you want. */
  max-width:900px; /* or whatever width you want. */
  display: block;
  overflow-x: hidden; 
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.9);
  
}

.sessions-welcome { 
  background: image_url('background1.jpg') no-repeat center center fixed; 
  background-size:     cover;                  
  background-repeat:   no-repeat;
  background-position: center center;
}

.sessions-new { 
  background-color: white !important;
  background-size:     cover;                  
  background-repeat:   no-repeat;
  background-position: center center;
}

.right a { 
	float: right;
}

.title {
	background-color: #e6ffe6;
}


.fom-label {
  float: left;
}

 .login {
    -moz-box-shadow: 0 0 10px rgba(20,0,40,.5);
    -webkit-box-shadow: 0 0 10px rgba(20,0,40,.5);
    box-shadow: 0 0 15px rgba(20,0,40,.5);
    color: rgb(102,0,102) !important;
    float: none;
    margin: 6% auto;
    margin-bottom: 100px;
    max-width: 600px;
    min-width: 600px;
    overflow-x: hidden;
    border-radius: 10px;
}

.login2 {
  background-color: rgba(52, 209, 0, .9) !important;
  padding: .5%;
  border-radius: 10px;    
}

.login-pic img {
  width: 100% !important;
  height: auto !important;
}



.signup {
  -moz-box-shadow: 0 0 10px rgba(20,0,40,.5);
    -webkit-box-shadow: 0 0 10px rgba(20,0,4o,.5);
    box-shadow: 0 0 15px rgba(20,0,40,.5);
    color: rgb(102,0,102) !important;
    background-color: white;
    float: none;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    margin: 1% auto;
    margin-bottom: 5px;
    max-width: 600px;
    min-width: 600px;
    overflow-x: hidden
}

.new-account {
-moz-box-shadow: 0 0 10px rgba(20,0,40,.5);
    -webkit-box-shadow: 0 0 10px rgba(20,0,4o,.5);
    box-shadow: 0 0 15px rgba(20,0,40,.5);
    color: green;
    background-color: white;
    float: none;
    margin: 1% auto;
    margin-bottom: 5px;
    height: 400px auto;
    min-height: 400px;
    width:900px; /* or whatever width you want. */
    max-width:900px; /* or whatever width you want. */
    border-radius: 10px;
    overflow-x: hidden;
    margin-top: 140px; 
}

.new-account h3 {
  margin-left: 10px;
  background-color: rgba(52, 209, 0, .9) !important;
  color: white !important;
  text-shadow: 1px 1px rgb(102,0,102);
  font-size: 50px;
}

.child {
  -moz-box-shadow: 0 0 10px rgba(20,0,40,.5);
    -webkit-box-shadow: 0 0 10px rgba(20,0,4o,.5);
    box-shadow: 0 0 15px rgba(20,0,40,.5);
    color: black;
    background-color: #f2fcf8;
    float: none;
    margin: 1% auto;
    margin-bottom: 5px;
    height: 400px auto;
    min-height: 400px;
    width:900px; /* or whatever width you want. */
    max-width:900px; /* or whatever width you want. */
    border-radius: 10px;
    overflow-x: hidden;
}

.child h3 a {
  margin-left: 10px;
  color: white !important;
  text-shadow: 1px 1px rgb(102,0,102);
  font-size: 50px;
}

.set-status {
  background-color: white;
  border: 1px solid #B0E0E6;
  border-radius: 10px;
  margin-bottom: 10px;
}
.update-status {
  background-color: #FFF0F5 !important;
}

.inner-status {
  background-color: #E6E6FA;
}
.inner-status p {
  margin-left: 10px;
}

.playdates { 
color:  black;
background-color: #e8fcfc;
border: 1px solid   #B0E0E6;
border-radius: 10px;
overflow: hidden;
}

.playdates h4 {
margin-left: 10px;
}

.dateinfo {
  background-color: white !important;
}

.dateinfo p {
  margin-left: 10px;
}


.bored input {
  padding-left: 1%;
  padding-right: 1%;
  color: black !important;
  background-color: #E6E6FA;
  border-color: #B0E0E6;
  border-radius: 20px;
  box-shadow: none !important;
}

.name {
  background-color: #9be881;
}


.btn-outline-success {

  color: black !important;
  background-color: white !important;
  padding-bottom: 10px;
}


.cntr {
  margin-left: 0px !important;
  background-color: white;
  color: green !important;
  border-top: 1px solid #FFFFD1 !important;
  border-bottom: 1px solid #FFFFD1 !important;
  text-align: center;
  
}
.nav-item button {
margin-left: 15px;
background-color: #9be881 !important;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 190px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #9be881;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white !important;
  display: block;
  margin-left: 15px;
}
.side-top {
  padding-top: 50px;
  
}

.nav-item {
  padding-top: 10px;
  background-color: #9be881;
  border-bottom: .5px solid #e6ffe6;
  
}

.btn-link {
  color: white !important;
  font-size: 20px !important;
  padding: 6px 8px 6px 16px;
}

.nb {
margin-left: 40px;
}

.navbar {
	background-color: #6acc49 !important;
	border-color: white !important;
}

.navbar-brand {
	color: white !important;
}

.nav-link {
  color: #FF1493 !important;
}

p {
    margin: 1;
    padding: 1;
    margin-bottom: 1px;
}

b {
	color :#0FE1F5;
}

.small-left{
  font-size: 60%;
}
.small {
  font-size: 80%;
  color: white;
  margin-left: 15px; 
}

.comment {
  line-height: 85%;
}

.comment2 {
  background-color: #e6ffe6;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  }

.comment a {
  color: green;
}

.participants {
  background-color: #ccffff;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20%;
  text-align: center;
}

.participants a {
color: purple;
  
}
.family-title {
  color: black;
  text-align: center !important;
}

.big {
  font-size: 10vw;
}

@media (min-width: 992px) { 

.container {
  width: 50%;
  min-height: 100vh;
  height: 100%;
  
  padding: 0 !important;
  margin-right: none !important;
  margin-left: none !important;
  
}

.background {
	background-color: #cbdbca;
	min-height: 100vh;
  height: 100%;
}


.color-1 { 
background-color: #29C0E4 !important;
color: black;
}

.color-2 { 
background-color: #F0247E !important;
color: black;
}

.color-3 { 
background-color: #F68B21 !important;
color: black;
}

.color-4 { 
background-color: #D696BF !important;
}

.color-5 {
  background-color: #29C0E4 !important;
}

.color-6 {
  background-color: #0CBA73 !important;
}

.color-7 {
  background-color: #F68B21 !important;
}

.color-8 {
  background-color: #F8D243 !important;
}

.color-9 {
  background-color: #F5321C !important;
  }

.color-10 {
  background-color: #EE001A !important;
}







.status-color-1 h3 { 
  color: #29C0E4 !important;
}

.status-color-2 h3 { 
  color: #F0247E !important;
}

.status-color-3 h3 { 
  color: #F68B21 !important;
}

.status-color-4 h3 { 
  color: #D696BF !important;
}

.status-color-5 h3{
  color: #29C0E4 !important;
}

.status-color-6 h3 {
  color: #0CBA73 !important;
}

.status-color-7 h3 {
  color: #F68B21 !important;
}

.status-color-8 h3 {
  color: #F8D243 !important;
}

.status-color-9 h3 {
  color: #F5321C !important;
}

.status-color-10 h3 {
  color: #EE001A !important;
}
}
